In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os, warnings, time
import statsmodels.api as sm

from datetime import datetime, timedelta
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from scipy import stats

# 머신러닝

In [2]:
df = pd.read_csv('../Edu/code/data/26_problem1.csv')
df.head()

,ID,Year_Birth,Marital_Status,Income,Kidhome,Teenhome,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth
0,5524,1957,Single,58138.0,0,0,635,88,546,172,88,3,8,10,4,7
1,2174,1954,Single,46344.0,1,1,11,1,6,2,1,2,1,1,2,5
2,4141,1965,Together,71613.0,0,0,426,49,127,111,21,1,8,2,10,4
3,6182,1984,Together,26646.0,1,0,11,4,20,10,3,2,2,0,4,6
4,5324,1981,Married,58293.0,1,0,173,43,118,46,27,5,5,3,6,5

## 1 전처리 및 군집생성

### 1-1

결측치 확인 및 결측치 제거 / EDA 수행

### 1-2

이상치 제거 방법을 서술하고, 이상치 제거 후의 결과를  
통계적으로 서술

### 1-3

위에서 전처리한 데이터로 Kmeans, DBSCAN 등의 방법으로 군집 생성

## 2 군집분석

### 2-1

위에서 생성한 군집들의 특성 분석

### 2-2

군집별 상품 추천

### 2-3

ID가 10870인 고객을 대상으로 상품 추천

# 통계분석

## 1

한 공장에서 생산된 제품에서 최근 추정 불량률은 90%였다.  
오차의 한계가 5% 이하가 되도록 하는 최소 표본 사이즈 구하기

## 2

다음은 1월부터 9월까지의 은의 가격이다.

In [8]:
data = {'1M': [12.14], '2M': [42.6], '3M': [34.4], '4M': [35.29], '5M': [30.96],
        '6M': [57.12], '7M': [37.84], '8M': [42.49], '9M': [31.38]}

silver = pd.DataFrame(data)
silver

      1M    2M    3M     4M     5M     6M     7M     8M     9M
0  12.14  42.6  34.4  35.29  30.96  57.12  37.84  42.49  31.38

### 2-1

이동평균값 3이 설정된 시계열 그래프와 은의 가격 그래프 시각화

### 2-2

1월 대비 9월의 은의 가격은 몇 % 올랐는가? (소수점 두번째 자리에서 반올림)

## 3

A, B, C 자치구별 H 의원에 대한 찬성, 반대 투표 결과이다.  
자치구별 지지율이 같은지 검정

In [9]:
data = pd.DataFrame(
    {'A':[176, 124], 'B':[193, 107], 'C':[159, 141]},
    index=['찬성', '반대']
)

data

      A    B    C
찬성  176  193  159
반대  124  107  141

## 4

A학교 남녀 학생들의 평균 혈압 차이가 있는지 검정  
(단, 남녀 학생의 혈압 데이터는 정규분포를 따르고 등분산임을 가정)

In [10]:
df = pd.read_csv('../Edu/code/data/26_problem6.csv')
df.head()

  gender  pressure
0   male     106.8
1   male     100.8
2   male      84.5
3   male     104.2
4   male     107.0

### 4-1

검정에 대한 가설 설정

### 4-2

검정통계량 구하고 결과에 대해 판단

### 4-3

평균 혈압차의 신뢰구간을 구하고, 판단 결과가  
4=2의 결과를 지지하는지 설명

## 5

problem7.csv 파일 데이터로 다음을 분석  
20대 남성의 키와 허리둘레가 체중에 영향을 미치는지 검정

In [11]:
df = pd.read_csv('../Edu/code/data/26_problem7.csv')
df.head()

    height  weight  waistline
0  174.396  72.102    79.3787
1  179.656  81.255    80.6649
2  175.079  76.207    80.3166
3  180.804  81.354    80.8794
4  177.448  78.768    80.3499

### 5-1

아래 조건을 참고해 회귀계수(반올림하여 소수점 두자리) 구하기
- 베이지안 회귀모델 사용
- 1000번의 burn-in 이후 10000의 MCMC를 수행
- 회귀계수의 사전분포는 부적절한 균일분포
- 오차항의 분산의 사전분포는 역감마 분포로 지정
- 형상 모수와 척도 모수는 각각 0.005로 지정

### 5-2

생성한 베이지안 회귀모델을바탕으로 키 180cm, 허리둘레 85인  
남성의 몸무게를 추정