In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os, warnings, time

from datetime import datetime, timedelta

plt.rc('font', family='Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

In [5]:
df = pd.read_csv('../Edu/code/data/27_problem1.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,Amount,Class
0,60.0,1.069141,0.043786,0.309867,1.316694,-0.462394,-0.857888,0.207904,-0.191270,0.056398,0.041567,-0.507358,-0.108666,-0.473257,0.452046,1.005675,0.185441,-0.439976,89.40,0
1,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,-2.772272,3.202033,-2.899907,-0.595222,-4.289254,0.389724,-1.140747,-2.830056,0.00,1
2,426.0,-1.932055,1.724618,1.288229,-0.396998,-0.140202,2.470521,-1.865298,-5.186855,0.794764,0.155379,0.034517,0.906738,-0.027172,-0.404303,-0.473949,0.274034,-0.222340,16.19,0
3,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,-0.414575,-0.503141,0.676502,-1.692029,2.000635,0.666780,0.599717,529.00,1
4,674.0,-0.719065,0.638954,0.686335,-0.023240,2.317890,3.871978,-0.312797,1.089780,-0.596925,-0.006142,-0.242883,-0.384491,0.109079,0.187565,1.823472,0.274346,-0.697730,22.00,0

# 머신러닝

## 1 데이터 전처리

### 1-1

데이터의 특징 파악 (EDA)

### 1-2

상관관계 시각화 및 필요한 전처리 설명

## 2 차원축소

### 2-1

차원축소 방법 2가지 이상을 비교하고 한 가지를 선택

### 2-2

선택한 방법을 수행하고, 선택한 이유 설명

## 3 오버 / 언더 샘플링

### 3-1

오버샘플링과 언더샘플링의 장단점을 비교하고 선택

### 3-2

분류분석 모델 구현 및 선택한 샘플링 기법 중 2가지 이상의  
알고리즘으로 모델을 비교하고 성능 측정

### 3-3

현재까지 전처리한 데이터를 통해 분류 모델 수행 후 결과 분석

## 4 이상탐지 모델

### 4-1

이상탐지 모델 2가지 이상을 기술하고 장단점 설명

### 4-2

앞서 전처리한 데이터로 한가지 이상의 탐지 모델 구현 및  
3 에서 만든 모델과 비교

### 4-3

데이터분석과 관점에서 3의 모델과 4의 모델을 설명

# 통계분석

## 1

2년 전 제품 생산량이 100000개, 1년 전 제품 생산량이 150000개,  
그후 기술 상승으로 제품 생산량이 250000개 되었을 때 연평균  
상승률의 대표값을 구하라 (소수점 아래 셋째 자리에서 반올림)

## 2

12건의 광고시간 측정 데이터에서 평균은 15.5초, 분산은 3.2초였다.  
이때 광고시간의 90% 신뢰구간을 구하시오.

## 3

강의 상류와 하류의 생물다양성 점수에 차이가 있는지 유의수준 0.1 하에 검정  
(단, 같은 강에서 상/하류는 서로 독립이 아니고, 정규성을 만족한다고 가정)

- (1) 가설수립
- (2) 검정통계량, 유의확률 구하기, 연구가설 채택여부 검정

In [6]:
data = pd.read_csv('../Edu/code/data/27_problem7.csv')
data.head()

  river    up  down
0     a  57.1  45.7
1     b  51.6  37.2
2     c  53.9  53.3
3     d  59.0  54.3
4     e  57.5  46.3

## 4

usercounts를 종속변수로 하는 데이터

- (1) 분위수 회귀분석을 사용해 회귀계수 구하기  
  (소수점 아래 셋째자리에서 반올림)
- (2) (1)의 회귀계수를 활용해 temperature 10.5, wind 8.2,  
  precipitation 3.5일 때 user_counts 예측 (반올림하여 소수 둘째 자리까지)

In [8]:
data = pd.read_csv('../Edu/code/data/27_problem8.csv')
data.head()

   temperature   wind  precipitation  user_counts
0    10.400000  4.600       0.844944         6368
1     5.666667  4.625       0.040860         5902
2     4.933333  4.725       0.008696         6226
3     3.400000  2.675       0.156989         5829
4     8.900000  3.950       7.988462         7589

## 5

지하철 호선과 월별 승객수 간 상관관계가 있는지 확인

- (1) 가설수립
- (2) Type III Anova를 사용하여 상관관계 검정

In [9]:
data = pd.read_csv('../Edu/code/data/27_problem9.csv')
data.head()

   line  month  total
0     1      1   1310
1     1      2   1300
2     1      3   1305
3     1      4   1200
4     1      5   1301