In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings, time

from scipy import stats

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/ADPclass/ADP_book_ver01/main/data/28_problem1.csv')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,reason,guardian,traveltime,studytime,failures,paid,activities,famrel,freetime,absences_grade
0,GP,F,18,U,GT3,A,4,4,course,mother,2,2,0,no,no,4,3,3.0
1,GP,F,17,U,GT3,T,1,1,course,father,1,2,0,no,no,5,3,2.0
2,GP,F,15,U,LE3,T,1,1,other,mother,1,2,3,yes,no,4,3,4.0
3,GP,F,15,U,GT3,T,4,2,home,mother,1,3,0,yes,yes,3,2,1.0
4,GP,F,16,U,GT3,T,3,3,home,father,1,2,0,yes,no,4,3,2.0

# 머신러닝

## 1 데이터 전처리 및 시각화

- (1) EDA를 진행하고, 차원축소의 필요성 판단
- (2) 데이터 품질 개선 방법을 제안하고, 데이터셋 재생성
- (3) (2)에서 제시한 방법이 과적합 된다는 가정 하에 과적합을  
  해결할 수 있는 2가지 방안을 제시하고 각각의 장단점 기술

## 2 데이터 분석

- (1) RandomForest, Neural Network, LightGBM 3가지 방식으로    
  학교 결석 횟수 등급을 예측하는 모델을 만들고 F1-Score로 평가
- (2) Hard Voting, Soft Voting의 장단점을 설명하고 2-(1)의  
  모델로 구현하고 F1-Score로 평가
- (3) 총 5개 모델 중 실시간 온라인 시스템에 가장 적합한  
  모델과 선정이유를 객관적으로 제시

## 3 데이터 모델링

- (1) 적정 모델 선정과 모델링 과정에서 추가적으로  
  고려할만 한 사항을 설명
- (2) 모델을 학교 시스템에 적용하려 한다. 모델 적용 및  
  운영과정에서 고려할만 한 사항을 설명

# 통계분석

## 1 두 회사의 데이터 분석

- (1) Kaplan Meier 방법을 활용해 생존분석을 수행하고  
  회사부품별 25, 35, 45개월 후의 생존확률 구하기.
- (2) 두 회사간 생존시간 차이를 log_rank 방식으로 검정  
  (가설설정, 통계량, 가설채택)

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/ADPclass/ADP_book_ver01/main/data/28_problem4.csv?raw=true')
data.head()

   time(month) survival company
0           39        Y       B
1           29        Y       B
2           15        N       B
3           43        N       A
4            8        Y       A

## 2

구매 데이터에서 시식 여부가 구매의사에 영향을 주는지  
가설 설정 및 검증

In [5]:
data = pd.read_csv('https://raw.githubusercontent.com/ADPclass/ADP_book_ver01/main/data/28_problem5.csv?raw=true')
data.head()

  시식전 시식후 유저아이디
0   Y   Y   ID1
1   N   Y   ID2
2   N   N   ID3
3   N   Y   ID4
4   Y   Y   ID5

## 3

두 개의 고등학교 시험점수 데이터를 참고해 시험점수의  
분포 차이가 있는지 검정(단, 성적은 독립이라고 가정)

In [6]:
data = pd.read_csv('https://raw.githubusercontent.com/ADPclass/ADP_book_ver01/main/data/28_problem6.csv?raw=true')
data.head()

   Score School   ID
0     97      A  ID1
1     84      A  ID2
2     77      A  ID3
3     93      A  ID4
4     67      A  ID5

## 4

몸무게를 제어한다고 생각하고, 나이와 콜레스테롤  
상관관계 및 유의확률 구하기.

In [7]:
data = pd.read_csv('https://raw.githubusercontent.com/ADPclass/ADP_book_ver01/main/data/28_problem7.csv?raw=true')
data.head()

   age  Cholesterol  weight
0   61          255      56
1   71          241     114
2   44          271      59
3   73          257      87
4   80          259     112